/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import './index.scss';

function {{ properCase name }}() {
  return (
    <div>
      {{ properCase name }} component
    </div>
  );
}

{{ properCase name }}.propTypes = {

};

export default {{ properCase name }};
